.article-preview {
  margin: auto;
}

.back-link {
  color: var(--color-brand);
}

.article-preview h1 {
  margin: 1.5rem 0 .75rem;
  color: var(--color-accent);
  font-size: clamp(2rem, 5vw, 3.25rem);
  line-height: 1;
}
